{{#each book}}
<div class="home-bg-color">
    <div class="home-bg-color">
        <div class="py-2 px-3 fw-bolder fs-4">
            <i class="fab fa-shopware"></i>
            <span class="">{{this}}</span>
        </div>
        <div class="">
            <div class="">
                <div class="list-group-horizontal list-group" id="list-tab" role="tablist">
                    <a class="mx-2 p-2 my-2 active" id="list-home-list" data-bs-toggle="list" href="#list-home-{{this}}"
                        role="tab">Top 1</a>
                    <a class="me-2 p-2 my-2" id="list-profile-list" data-bs-toggle="list" href="#list-profile-{{this}}"
                        role="tab">Top 2</a>
                    <a class="me-2 p-2 my-2" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages-{{this}}" role="tab">Top 3</a>
                    <a class="me-2 p-2 my-2" id="list-settings-list" data-bs-toggle="list"
                        href="#list-settings-{{this}}" role="tab">Top 4</a>
                </div>
            </div>
            <hr>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home-{{this}}" role="tabpanel"
                    aria-labelledby="list-home-list">
                    <div class="row-1">
                        {{#each ../top1}}
                        <div class="row-image-1">
                            <a href="/books/{{this._id}}">
                                <img class="mem-img-new rounded" src="//images.weserv.nl/?url={{this.image}}">
                            </a>
                            <p class="mem-text ten-sach mt-2">
                                <a href="/books/{{this._id}}">{{this.name}}</a>
                            </p>
                            <div class="mem-text ten-tac-gia text-capitalize">{{this.author}}</div>
                            <div class="mem-text ten-tac-gia text-capitalize">
                                <small>
                                    {{this.category}}
                                </small>
                            </div>
                            <div class="mem-text hinh-thuc text-capitalize">
                                <small>
                                    {{this.format}}
                                </small>
                            </div>
                            <div id="gia" class="gia-sach d-flex">
                                <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                    <small style="font-size: 0.9rem;">{{this.currency}}</small>{{this.price}}</span>
                                <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                    <small style="font-size: 0.8rem;">{{this.currency}}</small>{{this.old_price}}</span>
                            </div>
                            <div class="star-container">
                                <input type="text" class="star" value='{{this.book_depository_stars}}'>
                            </div>
                        </div>
                        {{else}}
                        <p class="text-center fst-italic m-5">Không có sản phẩm thích hợp</p>
                        {{/each}}
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile-{{this}}" role="tabpanel"
                    aria-labelledby="list-profile-list">
                    <div class="row-1">
                        {{#each ../top2}}
                        <div class="row-image-1">
                            <a href="/books/{{this._id}}">
                                <img class="mem-img-new rounded" src="//images.weserv.nl/?url={{this.image}}">
                            </a>
                            <p class="mem-text ten-sach mt-2">
                                <a href="/books/{{this._id}}">{{this.name}}</a>
                            </p>
                            <div class="mem-text ten-tac-gia text-capitalize">{{this.author}}</div>
                            <div class="mem-text ten-tac-gia text-capitalize">
                                <small>
                                    {{this.category}}
                                </small>
                            </div>
                            <div class="mem-text hinh-thuc text-capitalize">
                                <small>
                                    {{this.format}}
                                </small>
                            </div>
                            <div id="gia" class="gia-sach d-flex">
                                <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                    <small style="font-size: 0.9rem;">{{this.currency}}</small>{{this.price}}</span>
                                <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                    <small style="font-size: 0.8rem;">{{this.currency}}</small>{{this.old_price}}</span>
                            </div>
                            <div class="star-container">
                                <input type="text" class="star" value='{{this.book_depository_stars}}'>
                            </div>
                        </div>
                        {{else}}
                        <p class="text-center fst-italic m-5">Không có sản phẩm thích hợp</p>
                        {{/each}}
                    </div>

                </div>
                <div class="tab-pane fade" id="list-messages-{{this}}" role="tabpanel"
                    aria-labelledby="list-messages-list">
                    <div class="row-1">
                        {{#each ../top3}}
                        <div class="row-image-1">
                            <a href="/books/{{this._id}}">
                                <img class="mem-img-new rounded" src="//images.weserv.nl/?url={{this.image}}">
                            </a>
                            <p class="mem-text ten-sach mt-2">
                                <a href="/books/{{this._id}}">{{this.name}}</a>
                            </p>
                            <div class="mem-text ten-tac-gia text-capitalize">{{this.author}}</div>
                            <div class="mem-text ten-tac-gia text-capitalize">
                                <small>
                                    {{this.category}}
                                </small>
                            </div>
                            <div class="mem-text hinh-thuc text-capitalize">
                                <small>
                                    {{this.format}}
                                </small>
                            </div>
                            <div id="gia" class="gia-sach d-flex">
                                <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                    <small style="font-size: 0.9rem;">{{this.currency}}</small>{{this.price}}</span>
                                <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                    <small style="font-size: 0.8rem;">{{this.currency}}</small>{{this.old_price}}</span>
                            </div>
                            <div class="star-container">
                                <input type="text" class="star" value='{{this.book_depository_stars}}'>
                            </div>
                        </div>
                        {{else}}
                        <p class="text-center fst-italic m-5">Không có sản phẩm thích hợp</p>
                        {{/each}}
                    </div>
                </div>
                <div class="tab-pane fade" id="list-settings-{{this}}" role="tabpanel"
                    aria-labelledby="list-settings-list">
                    <div class="row-1">
                        {{#each ../top4}}
                        <div class="row-image-1">
                            <a href="/books/{{this._id}}">
                                <img class="mem-img-new rounded" src="//images.weserv.nl/?url={{this.image}}">
                            </a>
                            <p class="mem-text ten-sach mt-2">
                                <a href="/books/{{this._id}}">{{this.name}}</a>
                            </p>
                            <div class="mem-text ten-tac-gia text-capitalize">{{this.author}}</div>
                            <div class="mem-text ten-tac-gia text-capitalize">
                                <small>
                                    {{this.category}}
                                </small>
                            </div>
                            <div class="mem-text hinh-thuc text-capitalize">
                                <small>
                                    {{this.format}}
                                </small>
                            </div>
                            <div id="gia" class="gia-sach d-flex">
                                <span id="gia-moi" class="gia-moi fs-5 adcent-color fw-bolder me-3">
                                    <small style="font-size: 0.9rem;">{{this.currency}}</small>{{this.price}}</span>
                                <span id="gia-cu" class="gia-cu text-decoration-line-through">
                                    <small style="font-size: 0.8rem;">{{this.currency}}</small>{{this.old_price}}</span>
                            </div>
                            <div class="star-container">
                                <input type="text" class="star" value='{{this.book_depository_stars}}'>
                            </div>
                        </div>
                        {{else}}
                        <p class="text-center fst-italic m-5">Không có sản phẩm thích hợp</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <p class="text-center home-bg-color py-4">
            <a href="/category/{{this}}" class="mt-2 adcent-bg-color text-white px-4 py-2 rounded">Xem thêm</a>
        </p>
    </div>
</div>
</div>

{{/each}}